<%= form_for @order, remote: true, html: {class: 'leave-comment', id: 'order_form'} do |f| %>
  <div class="container">
    <div class="row">

      <%= render 'orders/edit_form_partials/user_info', f: f %>
      <%= render 'orders/edit_form_partials/order_info', f: f %>

      <div class="w-size25">
        <!-- Button -->
        <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
          <%= t('submit') %>
        </button>
      </div>
    </div>
  </div>

<% end %>

<%= javascript_pack_tag "order_form" %>

<script type="text/javascript">
    function validatePassword () {
        var passwordVal  = $('#order_user_password').val();
        var comfirmVal = $('#order_user_password_confirmation').val();
        var num_regex=/^[0-9]+$/;

        if( passwordVal && comfirmVal){
            if (passwordVal.length === 4 && passwordVal.match(num_regex) ){
                if (passwordVal === comfirmVal) {
                    $('#password-message').html("<%= t('user.form.errors.matched') %>").css('color', 'green');
                    return true;
                } else
                    $('#password-message').html("<%= t('user.form.errors.not_matched') %>").css('color', 'red');
                return false;
            }
            else{
                $('#password-message').html("<%= t('user.form.errors.invalid') %>").css('color', 'red');
                return false;
            }
        }
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)){
            $('#password-info').html("<%= t('user.form.errors.invalid') %>").css('color', '#00529B');

            return false;
        }
        $('#password-info').html('');
        return true;
    }

    $('#order_user_password, #order_user_password_confirmation').on('keyup', validatePassword);

    function get_user_data(){
        let country_code = $("#user_country").val();
        $.ajax({
            method: 'get',
            url: "/users/check_order_user",
            data: {value: $(this).val(), locale: "<%= I18n.locale.to_s %>", country_code: country_code}
        });
    }
    $(document).on('ready page:load', get_user_data );
    $(document).on('turbolinks:load', get_user_data );
    $("#order_user_login").on('change', get_user_data );
</script>