<%= form_for @order, html: {class: 'leave-comment', id: 'order_form'} do |f| %>
  <div class="container">
    <div class="row">

      <%= render 'orders/edit_form_partials/user_info', f: f %>
      <%= render 'orders/edit_form_partials/order_info', f: f %>

      <div class="w-size25">
        <!-- Button -->
        <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
          <%= t('submit') %>
        </button>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">

    $('#order_form').on('submit', function (e) {

        let fields = ["#user_login", "#user_password", "#order_address", "#user_full_name"];
        let i, l = fields.length;

        for (i = 0; i < l; i++) {
            let fieldId = fields[i];

            if ($(fieldId).val() === "" ) {
                toastr.error($(fieldId).attr("data-presence"));
                return false;

                e.preventDefault();
            }
        }
        return true;
    });

    $('#user_password, #user_password_confirmation').on('keyup', validatePassword);

    function validatePassword () {
        var passwordVal  = $('#user_password').val();
        var comfirmVal = $('#user_password_confirmation').val();
        var num_regex=/^[0-9]+$/;

        if( passwordVal && comfirmVal){
            if (passwordVal.length === 4 && passwordVal.match(num_regex) ){
                if ($('#user_password').val() === $('#user_password_confirmation').val()) {
                    $('#password-message').html("<%= t('user.form.errors.matched') %>").css('color', 'green');
                    return true;
                } else
                    $('#password-message').html("<%= t('user.form.errors.not_matched') %>").css('color', 'red');
                return false;
            }
            else{
                $('#password-message').html("<%= t('user.form.errors.invalid') %>").css('color', 'red');
                return false;
            }
        }
    }

    $("#user_login").on('change',function(){
        $.ajax({
            method: 'get',
            url: "/users/check_order_user",
            data: {value: $(this).val(), type : "login", locale: "<%= I18n.locale.to_s %>"}
        });
    });

    $(document).ready(function() {
        $('#user_country').select2();
    });
</script>