<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @order.currency %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @order.product_name %>
</p>

<p>
  <strong>Product detail:</strong>
  <%= @order.product_detail %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Estimated delivery:</strong>
  <%= @order.estimated_delivery %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status_id_id %>
</p>

<p>
  <strong>Payment status:</strong>
  <%= @order.payment_status %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @order.payment_method_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
