<div class="container px-1 px-md-4 py-5 mx-auto">
  <div class="card">
    <div class="row d-flex justify-content-between px-3 top">
      <div class="d-flex">
        <h5>LAST ORDER <span class="text-primary font-weight-bold"><%= @orders.first.slug.upcase %></span></h5>
      </div>
      <div class="d-flex flex-column text-sm-right">
        <p class="mb-0">Expected Delivery Date <span>
          <%= @orders.first.estimated_delivery_date %>
        </span></p>
      </div>
    </div> <!-- Add class 'active' to progress -->
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <ul id="progressbar" class="text-center">
          <% @tracking_statuses.each do |ts| %>
            <li class="<%= 'active' if (@orders.first.tracking_status.id >= ts.id) %> step0"></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <ul class="track_status" class="text-center">
          <% @tracking_statuses.each do |ts| %>
            <li>
              <i class="icon <%= ts.icon_name %> fa-3x"></i>
              <div class="d-flex flex-column">
                <p class="font-weight-bold"> <%= ts.name %></p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>


  </div>
</div>