<!DOCTYPE html>
<html>
  <head>
    <title>Nokshibunan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class='animsition'>
  <!-- Header -->
  <header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">
      <%= render 'welcome/topbar' %>
      <%= render 'welcome/header_menu' %>
    </div>

    <!-- Header Mobile -->
    <%= render 'welcome/header_mobile' %>

    <!-- Menu Mobile -->
    <%= render 'welcome/menu_mobile' %>
  </header>
    <%= yield %>
  <%= render 'welcome/footer' %>
  </body>
</html>
